.footer-box {
    background-color: #e21b4d;
    height: 100%;
}
.footer-image {
    background-image: url('../../Assets/VerstappenMax.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 510px;
    position: relative;
}

.footer-message {
    width: 390px;
    height: 370px;
    background-color: white;
    position: absolute;
    bottom: 50px;
    left: 30px;
    border-radius: 27px;
}

.message-box {
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.message-box p {
    font-weight: 500;
    font-size: 15px;
}

.message-box span {
    font-weight: 900;
    font-size: 15px;
}

.message-box div {
    display: flex;
    justify-content: start;
    align-items: center;
}

.director-name {
    padding-right: 20px;
    border-right: 2px solid black;
}

.signature {
    padding-left: 20px;
}

@media screen and (max-width: 1200px) {
    .footer-message {
        width: 350px;
        height: 350px;
        left: 0;
        bottom: -200px;
    }
    .footer-image {
        border-bottom-right-radius: 50px;
    }

    .footer-box {
        height: 530px;
        background-color: #cdd2dc;
    }
}
