.payinfo-box {
    width: 90%;
    height: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.payinfo-header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30%;
}

.payinfo-header p:nth-child(1) {
    font-weight: 900;
    font-size: 16px;
    line-height: 24px;
}

.payinfo-header p:nth-child(2) {
    font-weight: 500;
    font-size: 21px;
    line-height: 32px;
}

.payinfo-stats {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50%;
}

.payinfo-stats img {
    height: 40px;
    width: 40px;
    background-color: #e21b4d;
    border-radius: 50px;
    padding: 10px;
}

.payinfo-header p:nth-child(3) {
    font-size: 58px;
    text-transform: uppercase;
    color: #e21b4d;
    font-weight: 600;
}

.payinfo-stats p span {
    font-weight: 900;
    font-size: 16px;
    line-height: 24px;
}

.payinfo-stats button {
    height: 43px;
    width: 220px;
    border-radius: 27px;
    background-color: #000b8d;
    cursor: pointer;
    transition: 350ms;
    color: white;
    border: none;
}

.payinfo-stats button:hover {
    background-color: #e21b4d;
}

.stats-container {
    display: flex;
    justify-content: space-between;
}

.stat-box {
    display: flex;
    width: 33%;
}

.stat-box div:nth-child(2) {
    padding-left: 20px;
}

@media screen and (max-width: 1200px) {
    .payinfo-box {
        justify-content: space-around;
    }

    .payinfo-header {
        height: 20%;
    }

    .payinfo-stats {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 70%;
    }

    .stats-container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 50%;
    }

    .stat-box {
        width: 100%;
    }

    .payinfo-header p:nth-child(1) {
        font-size: 14px;
    }

    .payinfo-header p:nth-child(2) {
        font-size: 16px;
        line-height: 24px;
    }

    .payinfo-header p:nth-child(3) {
        font-size: 33px;
        line-height: 36px;
    }

    .payinfo-stats p span {
        font-size: 14px;
        line-height: 20px;
    }

    .payinfo-stats p {
        font-size: 16px;
        line-height: 24px;
    }

    .stat-box img {
        width: 40px;
        height: 40px;
    }
}
